<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to aaaa</p>
    <h1><%= abcV %></h1>

    <h1><%= ACTIVATE_URL %></h1>
    <h1><%= RESET_URL %></h1>
    <h1><%= SENSATIVE_OFFSET_FLAG %></h1>
    <h1><%= NEWDF %></h1>

  </body>
</html>
